/* INICIO DEL CSS DEL NAV*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 2px;
}

.logo img {
  width: 80px;
  height: auto;
}

.options {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

.options li {
  margin-left: 20px;
  position: relative;
}

nav li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease-in-out;
}

nav li:hover a {
  transform: scale(1.1);
  color: #161515;
}

.options li img {
  width: 35px;
  height: 35px;
}

.options li p {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  font-size: 14px;
  color: rgb(15, 5, 5);
  text-align: center;
}

.options li:hover p {
  display: block;
}

.menu-text {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.active::after,
nav li:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #200a9e;
  left: 0;
  bottom: 5px;
}
     /*FIN DEL CSS DEL NAV*/

   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}

.container > div {
    width: 300px;
    height: 150px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container > div h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #333;
}

.container > div p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: #777;
}

.grafico {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chart {
    width: 80%;
    height: 300px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}